{% extends 'main.html.twig' %}

{% block entry %}
<div class="page-404">

  <div class="page-header">
    <h1>OOPS!!!</h1>
    <h2>Page not found</h2>
    <p><a href="/">Return to homepage</a></p>
  </div>

</div>
{% endblock %}
